<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="UCenter" connectionString="server=192.168.10.98\R2,14330;uid=sa;pwd=1qaz2wsx;database=YamonMVC4" providerName="SqlServer"/>-->
  </connectionStrings>
  <appSettings>
    <add key="WebUrl" value="http://ticket.yamon.cn/"/>
    <add key="WebApiUrl" value="http://ticket.yamon.cn/"/>
    <!--软件更新地址-->
    <add key="UpdateUrl" value="http://ticket.yamon.cn/"/>
    <!--<add key="ServiceImpl" value="Yamon.TicketSales.DAL"/>-->
    <add key="ServiceImpl" value="Yamon.TicketSales.WebApi"/>
    <!--接口账号配置-->
    <add key="ApiKey" value="1001"/>
    <add key="SecretKey" value="21232f297a57a5a743894a0e4a801fc3"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
