#conductList {
    .weui_titl {
        width: 100%;
        text-align: center;
        margin-top: 20px;
        border-bottom: 2px solid #000;
        h4 {
            font-weight: 500;
            color: #2C6BA6;
        }
    }
    span {
        width: 100%;
        white-space: normal!important;
        padding-left: 10px !important;
    }
    img {
        width: 100%;
    }
    .backUp {
        position: absolute;
        bottom: 40px;
        right: 5px;
        a {
            font-size: 22px;
            padding: 8px;
            color: #fff;
            font-weight: bold;
            border-radius: 50%;
            background: rgba(68, 68, 68, 0.8);
            text-decoration: none;
        }
    }
}