#keyWords {
    .content {
        .weui_titl {
            margin: 10px;
        }
        .weui_bd_item {
            width: 100%;
            min-height: 200px;
            .weui_cells{
                background:none;
            }
        }
    }
}