<div class="" style="padding-top: 10px;">
    <div id="test-editormd-view2">
        <textarea id="append-test" style="display:none;">
            @(Model.ResponseBody)
        </textarea>
    </div>
</div>