@using Yamon.Framework.Common
<script type="text/javascript">
    //产品权限
    function GetProductPuviewRow(row) {
        var url = "/InformationV2/Nodes/NodesPurview?UserID=" + row.UserID;
        return "<a href='" + url + "' style='color:red;'>产品权限</a>";
    }

    //内容权限
    function GetCategoryPurviewRow(row) {
        var url = "/PortalIPS/Category/CategoryPurview?UserID=" + row.UserID;
        return "<a href='" + url + "' style='color:red;'>内容权限</a>";
    }

    function RestoreUser() {
        var id = getSelectIds();
        if (id == "" || id == undefined)
            return;
        jQuery.messager.confirm('Confirm', '确定要还原[ ' + Data.ItemName + 'ID为' + id + ' ]的信息吗?', function (r) {
            if (r) {
                jQuery.ajax({
                    type: 'post',
                    dataType: 'text',
                    url: 'Handler/UsersHandler.ashx?action=EmployeeDelete&type=update',
                    data: { "ids": id },
                    success: function (msg) {
                        if (msg == "1") {
                            alert("还原成功！");
                            ReloadData();
                        } else {
                            alert("还原失败：" + msg);
                            return;
                        }
                    }
                });
            }
        });
    }

    function UserMutiDelete() {
        var id = getSelectIds();
        if (id == "" || id == undefined)
            return;
        jQuery.messager.confirm('Confirm', '确定要彻底删除[ ' + Data.ItemName + 'ID为' + id + ' ]的信息吗?', function (r) {
            if (r) {
                jQuery.ajax({
                    type: 'post',
                    dataType: 'text',
                    url: 'Handler/UsersHandler.ashx?action=EmployeeDelete&type=delete',
                    data: { "ids": id },
                    success: function (msg) {
                        if (msg == "1") {
                            alert("删除成功！");
                            ReloadData();
                        } else {
                            alert("删除失败：" + msg);
                            return;
                        }
                    }
                });
            }
        });
    }
</script>