<style type="text/css">
#sp div {
	float: left;
	margin: 2px;
}
</style>
<script>
	jQuery(function() {
	    ClassNameCombo();
	});
	function ClassNameCombo() {
		jQuery('#ClassName').combo({
			editable : false,
			width : 180
		});
		jQuery('#sp').show();
		jQuery('#sp').appendTo(jQuery('#ClassName').combo('panel'));
		jQuery('#ClassName').combo('setText', jQuery('#ClassName').val());
		jQuery('#ClassName')
				.after(
						"<span id='ClassNameIcon' class=\""
								+ jQuery('#ClassName').val()
								+ "\" style='width:20px;margin:2px;display:inline-block;'></span>");
		jQuery('#sp div').click(
				function() {
					var v = jQuery(this).attr("class");
					jQuery("#ClassNameIcon").attr("class", v);
					jQuery('#ClassName').combo('setValue', v)
							.combo('setText', v).combo('hidePanel');
				});

	}
</script>

<div id="sp" style="display: none">
	<div class="icon icon02"></div>
	<div class="icon icon03"></div>
	<div class="icon icon04"></div>
	<div class="icon icon05"></div>
	<div class="icon icon06"></div>
	<div class="icon icon07"></div>
	<div class="icon icon08"></div>
	<div class="icon icon09"></div>
	<div class="icon icon10"></div>
	<div class="icon icon11"></div>
	<div class="icon icon12"></div>
	<div class="icon icon13"></div>
	<div class="icon icon14"></div>
	<div class="icon icon15"></div>
	<div class="icon icon16"></div>
	<div class="icon icon17"></div>
	<div class="icon icon18"></div>
	<div class="icon icon19"></div>
	<div class="icon icon20"></div>
	<div class="icon icon21"></div>
	<div class="icon icon22"></div>
	<div class="icon icon23"></div>
	<div class="icon icon24"></div>
	<div class="icon icon25"></div>
	<div class="icon icon26"></div>
	<div class="icon icon27"></div>
	<div class="icon icon28"></div>
	<div class="icon icon29"></div>
	<div class="icon icon30"></div>
	<div class="icon icon31"></div>
	<div class="icon icon32"></div>
	<div class="icon icon33"></div>
	<div class="icon icon34"></div>
	<div class="icon icon35"></div>
	<div class="icon icon36"></div>
	<div class="icon icon37"></div>
	<div class="icon icon38"></div>
	<div class="icon icon39"></div>
	<div class="icon icon40"></div>
	<div class="icon icon41"></div>
	<div class="icon icon42"></div>
	<div class="icon icon43"></div>
	<div class="icon icon44"></div>
	<div class="icon icon45"></div>
	<div class="icon icon46"></div>
	<div class="icon icon47"></div>
	<div class="icon icon48"></div>
	<div class="icon icon49"></div>
	<div class="icon icon50"></div>
	<div class="icon icon51"></div>
	<div class="icon icon52"></div>
	<div class="icon icon53"></div>
	<div class="icon icon54"></div>
	<div class="icon icon55"></div>
	<div class="icon icon56"></div>
	<div class="icon icon57"></div>
	<div class="icon icon58"></div>
	<div class="icon icon59"></div>
	<div class="icon icon60"></div>
	<div class="icon icon61"></div>
	<div class="icon icon62"></div>
	<div class="icon icon63"></div>
	<div class="icon icon64"></div>
	<div class="icon icon65"></div>
	<div class="icon icon66"></div>
	<div class="icon icon67"></div>
	<div class="icon icon68"></div>
	<div class="icon icon69"></div>
	<div class="icon icon70"></div>
	<div class="icon icon71"></div>
	<div class="icon icon72"></div>
	<div class="icon icon73"></div>
	<div class="icon icon74"></div>
	<div class="icon icon75"></div>
	<div class="icon icon76"></div>
	<div class="icon icon77"></div>
	<div class="icon icon78"></div>
	<div class="icon icon79"></div>
	<div class="icon icon80"></div>
	<div class="icon icon81"></div>
	<div class="icon icon82"></div>
	<div class="icon icon83"></div>
	<div class="icon icon84"></div>
	<div class="icon icon85"></div>
	<div class="icon icon86"></div>
	<div class="icon icon87"></div>
	<div class="icon icon88"></div>
	<div class="icon icon89"></div>
	<div class="icon icon90"></div>
	<div class="icon icon91"></div>
	<div class="icon icon92"></div>
	<div class="icon icon93"></div>
	<div class="icon icon94"></div>
	<div class="icon icon95"></div>
	<div class="icon icon96"></div>
	<div class="icon icon97"></div>
	<div class="icon icon98"></div>
	<div class="icon icon99"></div>
	<div class="icon icon100"></div>
	<div class="icon icon101"></div>
	<div class="icon icon102"></div>
	<div class="icon icon103"></div>
	<div class="icon icon104"></div>
	<div class="icon icon105"></div>
	<div class="icon icon106"></div>
	<div class="icon icon107"></div>
	<div class="icon icon108"></div>
	<div class="icon icon109"></div>
	<div class="icon icon110"></div>
	<div class="icon icon111"></div>
	<div class="icon icon112"></div>
	<div class="icon icon113"></div>
	<div class="icon icon114"></div>
	<div class="icon icon115"></div>
	<div class="icon icon116"></div>
	<div class="icon icon117"></div>
	<div class="icon icon118"></div>
	<div class="icon icon119"></div>
	<div class="icon icon120"></div>
	<div class="icon icon121"></div>
	<div class="icon icon122"></div>
	<div class="icon icon123"></div>
	<div class="icon icon124"></div>
	<div class="icon icon125"></div>
	<div class="icon icon126"></div>
	<div class="icon icon127"></div>
	<div class="icon icon128"></div>
	<div class="icon icon129"></div>
	<div class="icon icon130"></div>
	<div class="icon icon131"></div>
	<div class="icon icon132"></div>
	<div class="icon icon133"></div>
	<div class="icon icon134"></div>
	<div class="icon icon135"></div>
	<div class="icon icon136"></div>
	<div class="icon icon137"></div>
	<div class="icon icon138"></div>
	<div class="icon icon139"></div>
	<div class="icon icon140"></div>
	<div class="icon icon141"></div>
	<div class="icon icon142"></div>
	<div class="icon icon143"></div>
	<div class="icon icon144"></div>
	<div class="icon icon145"></div>
	<div class="icon icon146"></div>
	<div class="icon icon147"></div>
	<div class="icon icon148"></div>
	<div class="icon icon149"></div>
	<div class="icon icon150"></div>
	<div class="icon icon151"></div>
	<div class="icon icon152"></div>
	<div class="icon icon153"></div>
	<div class="icon icon154"></div>
	<div class="icon icon155"></div>
	<div class="icon icon156"></div>
	<div class="icon icon157"></div>
	<div class="icon icon158"></div>
	<div class="icon icon159"></div>
	<div class="icon icon160"></div>
	<div class="icon icon161"></div>
	<div class="icon icon162"></div>
	<div class="icon icon163"></div>
	<div class="icon icon164"></div>
	<div class="icon icon165"></div>
	<div class="icon icon166"></div>
	<div class="icon icon167"></div>
	<div class="icon icon168"></div>
	<div class="icon icon169"></div>
	<div class="icon icon170"></div>
	<div class="icon icon171"></div>
	<div class="icon icon172"></div>
	<div class="icon icon173"></div>
	<div class="icon icon174"></div>
	<div class="icon icon175"></div>
	<div class="icon icon176"></div>
	<div class="icon icon177"></div>
	<div class="icon icon178"></div>
	<div class="icon icon179"></div>
	<div class="icon icon180"></div>
	<div class="icon icon181"></div>
	<div class="icon icon182"></div>
	<div class="icon icon183"></div>
	<div class="icon icon184"></div>
	<div class="icon icon185"></div>
	<div class="icon icon186"></div>
	<div class="icon icon187"></div>
	<div class="icon icon188"></div>
	<div class="icon icon189"></div>
	<div class="icon icon190"></div>
	<div class="icon icon191"></div>
	<div class="icon icon192"></div>
	<div class="icon icon193"></div>
	<div class="icon icon194"></div>
	<div class="icon icon195"></div>
	<div class="icon icon196"></div>
	<div class="icon icon197"></div>
	<div class="icon icon198"></div>
	<div class="icon icon199"></div>
	<div class="icon icon200"></div>
	<div class="icon icon201"></div>
	<div class="icon icon202"></div>
	<div class="icon icon203"></div>
	<div class="icon icon204"></div>
	<div class="icon icon205"></div>
	<div class="icon icon206"></div>
	<div class="icon icon207"></div>
	<div class="icon icon208"></div>
	<div class="icon icon209"></div>
	<div class="icon icon210"></div>
	<div class="icon icon211"></div>
	<div class="icon icon212"></div>
	<div class="icon icon213"></div>
	<div class="icon icon214"></div>
	<div class="icon icon215"></div>
	<div class="icon icon216"></div>
	<div class="icon icon217"></div>
	<div class="icon icon218"></div>
	<div class="icon icon219"></div>
	<div class="icon icon220"></div>
	<div class="icon icon221"></div>
	<div class="icon icon222"></div>
	<div class="icon icon223"></div>
	<div class="icon icon224"></div>
	<div class="icon icon225"></div>
	<div class="icon icon226"></div>
	<div class="icon icon227"></div>
	<div class="icon icon228"></div>
	<div class="icon icon229"></div>
	<div class="icon icon230"></div>
	<div class="icon icon231"></div>
	<div class="icon icon232"></div>
	<div class="icon icon233"></div>
	<div class="icon icon234"></div>
	<div class="icon icon235"></div>
	<div class="icon icon236"></div>
	<div class="icon icon237"></div>
	<div class="icon icon238"></div>
	<div class="icon icon239"></div>
	<div class="icon icon240"></div>
	<div class="icon icon241"></div>
	<div class="icon icon242"></div>
	<div class="icon icon243"></div>
	<div class="icon icon244"></div>
	<div class="icon icon245"></div>
	<div class="icon icon246"></div>
	<div class="icon icon247"></div>
	<div class="icon icon248"></div>
	<div class="icon icon249"></div>
	<div class="icon icon250"></div>
	<div class="icon icon251"></div>
	<div class="icon icon252"></div>
	<div class="icon icon253"></div>
	<div class="icon icon254"></div>
	<div class="icon icon255"></div>
	<div class="icon icon256"></div>
	<div class="icon icon257"></div>
	<div class="icon icon258"></div>
	<div class="icon icon259"></div>
	<div class="icon icon260"></div>
	<div class="icon icon261"></div>
	<div class="icon icon262"></div>
	<div class="icon icon263"></div>
	<div class="icon icon264"></div>
	<div class="icon icon265"></div>
	<div class="icon icon266"></div>
	<div class="icon icon267"></div>
	<div class="icon icon268"></div>
	<div class="icon icon279"></div>
	<div class="icon icon270"></div>
	<div class="icon icon271"></div>
	<div class="icon icon272"></div>
	<div class="icon icon273"></div>
	<div class="icon icon274"></div>
	<div class="icon icon275"></div>
	<div class="icon icon276"></div>
	<div class="icon icon277"></div>
	<div class="icon icon278"></div>
	<div class="icon icon279"></div>
	<div class="icon icon280"></div>
	<div class="icon icon281"></div>
	<div class="icon icon282"></div>
	<div class="icon icon283"></div>
	<div class="icon icon284"></div>
	<div class="icon icon285"></div>
	<div class="icon icon286"></div>
	<div class="icon icon287"></div>
	<div class="icon icon288"></div>
	<div class="icon icon289"></div>
	<div class="icon icon290"></div>
	<div class="icon icon291"></div>
	<div class="icon icon292"></div>
	<div class="icon icon293"></div>
	<div class="icon icon294"></div>
	<div class="icon icon295"></div>
	<div class="icon icon296"></div>
	<div class="icon icon297"></div>
	<div class="icon icon298"></div>
	<div class="icon icon299"></div>
	<div class="icon icon300"></div>
	<div class="icon icon301"></div>
	<div class="icon icon302"></div>
	<div class="icon icon303"></div>
	<div class="icon icon304"></div>
	<div class="icon icon305"></div>
	<div class="icon icon306"></div>
	<div class="icon icon307"></div>
	<div class="icon icon308"></div>
	<div class="icon icon309"></div>
	<div class="icon icon310"></div>
	<div class="icon icon311"></div>
	<div class="icon icon312"></div>
	<div class="icon icon313"></div>
	<div class="icon icon314"></div>
	<div class="icon icon315"></div>
	<div class="icon icon316"></div>
	<div class="icon icon317"></div>
	<div class="icon icon318"></div>
	<div class="icon icon319"></div>
	<div class="icon icon320"></div>
	<div class="icon icon321"></div>
	<div class="icon icon322"></div>
	<div class="icon icon323"></div>
	<div class="icon icon324"></div>
	<div class="icon icon325"></div>
	<div class="icon icon326"></div>
	<div class="icon icon327"></div>
	<div class="icon icon328"></div>
	<div class="icon icon329"></div>
	<div class="icon icon330"></div>
	<div class="icon icon331"></div>
	<div class="icon icon332"></div>
	<div class="icon icon333"></div>
	<div class="icon icon334"></div>
	<div class="icon icon335"></div>
	<div class="icon icon336"></div>
	<div class="icon icon337"></div>
	<div class="icon icon338"></div>
	<div class="icon icon339"></div>
	<div class="icon icon340"></div>
	<div class="icon icon341"></div>
	<div class="icon icon342"></div>
	<div class="icon icon343"></div>
	<div class="icon icon344"></div>
	<div class="icon icon345"></div>
	<div class="icon icon346"></div>
	<div class="icon icon347"></div>
	<div class="icon icon348"></div>
	<div class="icon icon349"></div>
	<div class="icon icon350"></div>
	<div class="icon icon351"></div>
	<div class="icon icon352"></div>
	<div class="icon icon353"></div>
	<div class="icon icon354"></div>
	<div class="icon icon355"></div>
	<div class="icon icon356"></div>
	<div class="icon icon357"></div>
	<div class="icon icon358"></div>
	<div class="icon icon359"></div>
	<div class="icon icon360"></div>
	<div class="icon icon361"></div>
	<div class="icon icon362"></div>
	<div class="icon icon363"></div>
	<div class="icon icon364"></div>
	<div class="icon icon365"></div>
	<div class="icon icon366"></div>
	<div class="icon icon367"></div>
	<div class="icon icon368"></div>
	<div class="icon icon379"></div>
	<div class="icon icon370"></div>
	<div class="icon icon371"></div>
	<div class="icon icon372"></div>
	<div class="icon icon373"></div>
	<div class="icon icon374"></div>
	<div class="icon icon375"></div>
	<div class="icon icon376"></div>
	<div class="icon icon377"></div>
	<div class="icon icon378"></div>
	<div class="icon icon379"></div>
	<div class="icon icon380"></div>
	<div class="icon icon381"></div>
	<div class="icon icon382"></div>
	<div class="icon icon383"></div>
	<div class="icon icon384"></div>
	<div class="icon icon385"></div>
	<div class="icon icon386"></div>
	<div class="icon icon387"></div>
	<div class="icon icon388"></div>
	<div class="icon icon389"></div>
	<div class="icon icon390"></div>
	<div class="icon icon391"></div>
	<div class="icon icon392"></div>
	<div class="icon icon393"></div>
	<div class="icon icon394"></div>
	<div class="icon icon395"></div>
	<div class="icon icon396"></div>
	<div class="icon icon397"></div>
	<div class="icon icon398"></div>
	<div class="icon icon399"></div>
	<div class="icon icon400"></div>
	<div class="icon icon401"></div>
	<div class="icon icon402"></div>
	<div class="icon icon403"></div>
	<div class="icon icon404"></div>
	<div class="icon icon405"></div>
	<div class="icon icon406"></div>
	<div class="icon icon407"></div>
	<div class="icon icon408"></div>
	<div class="icon icon409"></div>
	<div class="icon icon410"></div>
	<div class="icon icon411"></div>
	<div class="icon icon412"></div>
	<div class="icon icon413"></div>
	<div class="icon icon414"></div>
	<div class="icon icon415"></div>
	<div class="icon icon416"></div>
	<div class="icon icon417"></div>
	<div class="icon icon418"></div>
	<div class="icon icon419"></div>
	<div class="icon icon420"></div>
	<div class="icon icon421"></div>
	<div class="icon icon422"></div>
	<div class="icon icon423"></div>
	<div class="icon icon424"></div>
	<div class="icon icon425"></div>
	<div class="icon icon426"></div>
	<div class="icon icon427"></div>
	<div class="icon icon428"></div>
	<div class="icon icon429"></div>
	<div class="icon icon430"></div>
	<div class="icon icon431"></div>
	<div class="icon icon432"></div>
	<div class="icon icon433"></div>
	<div class="icon icon434"></div>
	<div class="icon icon435"></div>
	<div class="icon icon436"></div>
	<div class="icon icon437"></div>
	<div class="icon icon438"></div>
	<div class="icon icon439"></div>
	<div class="icon icon440"></div>
	<div class="icon icon441"></div>
	<div class="icon icon442"></div>
	<div class="icon icon443"></div>
	<div class="icon icon444"></div>
	<div class="icon icon445"></div>
	<div class="icon icon446"></div>
	<div class="icon icon447"></div>
	<div class="icon icon448"></div>
	<div class="icon icon449"></div>
	<div class="icon icon450"></div>
	<div class="icon icon451"></div>
	<div class="icon icon452"></div>
	<div class="icon icon453"></div>
	<div class="icon icon454"></div>
	<div class="icon icon455"></div>
	<div class="icon icon456"></div>
	<div class="icon icon457"></div>
	<div class="icon icon458"></div>
	<div class="icon icon459"></div>
	<div class="icon icon460"></div>
	<div class="icon icon461"></div>
	<div class="icon icon462"></div>
	<div class="icon icon463"></div>
	<div class="icon icon464"></div>
	<div class="icon icon465"></div>
	<div class="icon icon466"></div>
	<div class="icon icon467"></div>
	<div class="icon icon468"></div>
	<div class="icon icon479"></div>
	<div class="icon icon470"></div>
	<div class="icon icon471"></div>
	<div class="icon icon472"></div>
	<div class="icon icon473"></div>
	<div class="icon icon474"></div>
	<div class="icon icon475"></div>
	<div class="icon icon476"></div>
	<div class="icon icon477"></div>
	<div class="icon icon478"></div>
	<div class="icon icon479"></div>
	<div class="icon icon480"></div>
	<div class="icon icon481"></div>
	<div class="icon icon482"></div>
	<div class="icon icon483"></div>
	<div class="icon icon484"></div>
	<div class="icon icon485"></div>
	<div class="icon icon486"></div>
	<div class="icon icon487"></div>
	<div class="icon icon488"></div>
	<div class="icon icon489"></div>
	<div class="icon icon490"></div>
	<div class="icon icon491"></div>
	<div class="icon icon492"></div>
	<div class="icon icon493"></div>
	<div class="icon icon494"></div>
	<div class="icon icon495"></div>
	<div class="icon icon496"></div>
	<div class="icon icon497"></div>
	<div class="icon icon498"></div>
	<div class="icon icon499"></div>
	<div class="icon icon500"></div>
	<div class="icon icon501"></div>
	<div class="icon icon502"></div>
	<div class="icon icon503"></div>
	<div class="icon icon504"></div>
	<div class="icon icon505"></div>
	<div class="icon icon506"></div>
	<div class="icon icon507"></div>
	<div class="icon icon508"></div>
	<div class="icon icon509"></div>
	<div class="icon icon510"></div>
	<div class="icon icon511"></div>
	<div class="icon icon512"></div>
	<div class="icon icon513"></div>
	<div class="icon icon514"></div>
</div>